<div ng-app="kalvi-app">
    <p class="h5">
        <span class="badge rounded-pill bg-warning text-dark">{{page.classno}}</span>
    </p>  
    <div ng-controller="classController as ct" ng-init="classNo = '{{page.classno}}'" >
        <div ng-repeat="sub in ct.subject" ng-if="ct.subjectVideos[$index].length > 0" >            
            <div class="album py-5 bg-light">
                <div class="container">
                    <p class="h5">
                        <span class="badge rounded-pill bg-primary" ng-bind="sub"></span>
                    </p>
                    <video-slider vii="ct.subjectVideos[$index]"></video-slider>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videomodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">நிறுத்து</button>
      </div>
    </div>
  </div>
</div>

<p class="fixed-bottom mb-1 go-to-top">
  <span class="badge rounded-pill bg-warning text-dark">மேலே</span>
</p>

<div class="d-none">
{% for videoData in site.data.videos[page.classno]%}
{{videoData.topic}},
{% endfor %}
</div>