.current {
  color: green;
}

.nav-btn{
  cursor: pointer;
  z-index: 1;
  border: 1px solid silver;
  background-color: crimson;
  color: #fff;
  width: 50px;
  height: 50px;
}

.video-slider-wrap{
  div.shadow-sm img{
    width: 100%;
    cursor: pointer;
  }
  div.row-cols-1{
    min-height: 370px;
  }
}

.go-to-top{
  cursor: pointer;
  left: unset;
  right: 30px;
  bottom: 30px;
}